/**
 * @file
 * CSS for Key Value to keep textfields inline
 */
div.form-item  .form-type-textfield,
div.form-item  .form-type-textfield * ,
.fieldset-wrapper{
  display: inline-block;
  padding: 5px;

}
.threshold-grid
{
margin-top: 8px;margin-bottom: 10px;
 border: 1px solid #CCCCCC;
 }
